{% extends './base.html' %}
{% block head%}
<style>
    form {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    #delete_div {
        border-style: solid;
        border-color: white;
        padding: 10px;
        border-radius: 25px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        color: white;

    }
</style>
{% endblock head%}
{% block content %}
<div style="height: 30vh;"></div>
<h3 style="color:white;"> Delete a movie!</h3>
<form method="post">{% csrf_token %}
    <br></br>
    <div id="delete_div">
        <b>Are you sure you want to delete {{object}}?</b>
    </div>
    <br></br>
    <input type="submit" id="search_button" value="Confirm">
</form>
{% endblock content%}
